# ─── FOLDERS ──────────────────────────────────────────────────────────────────
COMMON_DIR=./common
OPENWEBUI_DIR=./openwebui

# ─── Open WebUI Web ───────────────────────────────────────────────────────────
OPENWEBUI_IP_WEB=0.0.0.0
OPENWEBUI_PORT_WEB=3001

# ─── Open WebUI SSH ───────────────────────────────────────────────────────────
OPENWEBUI_IP_SSH=0.0.0.0
OPENWEBUI_PORT_SSH=22002